version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: payment-postgres
    environment:
      POSTGRES_DB: payments_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: payment-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  checkout:
    build: ./checkout-page
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  pgdata:
